<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
{{#with resume.basics}}
    <meta name="description" content="{{name}}'s resume">
    <meta name="keywords" content="{{name}}"/>
    <title>{{name}} &bull; {{email}} &bull; {{phone}}</title>
{{/with}}

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <style>
{{{css}}}
    </style>
  </head>
  <body>
{{#with resume.basics}}
    <header id="header" class="jumbotron fadeInDown animated">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 img-container hidden-print">
            <img alt="{{pictureAlt}}" src="{{#if picture}}{{picture}}{{else}}{{gravatar}}{{/if}}">
          </div>
          <div class="col-sm-8 intro">
            <h1 itemprop="name">
              {{#if namePrefix}}<small class="hidden-print">{{namePrefix}}</small>{{/if}}
              <strong class="name">{{name}}</strong>
            </h1>
            <p>{{{summary}}}</p>
            <dl class="contact dl-horizontal">
  {{#if email}}
              <dt><span class="fa fa-envelope"></span></dt>
              <dd><a itemprop="email" href="mailto:{{email}}" title="{{email}}" target="_blank">{{email}}</a></dd>
  {{/if}}
  {{#if phone}}
              <dt><span class="fa fa-phone"></span></dt>
              <dd><a href="tel:{{cleanedPhone}}" target="_blank">{{phone}}</a></dd>
  {{/if}}
  {{#each profiles}}
              <dt><span class="fa fa-{{lowercase network}}"></span></dt>
              <dd><a href="{{url}}" target="_blank">{{#if username}}{{username}}{{else}}{{network}}{{/if}}</a></dd>
  {{/each}}
  {{#unless noPrint}}
              <dt class="hidden-print"><span class="fa fa-print"></span></dt>
              <dd class="hidden-print"><a id="print-button" href="#">Print this page</a></dd>
  {{/unless}}
            </dl>
          </div>
        </div>
      </div>
    </header>
{{/with}}

    <div class="container">
      <div class="row">
        <article id="timeline" class="col-md-8">
          <h2 class="sr-only">Timeline</h2>
{{#each resume.work}}
          <section itemscope itemtype="http://schema.org/Organization">
            <h3 class="position">
              <span class="title">{{position}}</span>
              at
              <a itemprop="name" href="{{website}}" target="_blank">{{company}}</a>
            </h3>
            <div class="where-when text-muted">
  {{#if address}}
              <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                {{address}}
              </div>
  {{/if}}
              <div itemprop="event" itemscope itemtype="http://schema.org/Event">
                <span itemprop="startDate">{{date startDate}}</span> &ndash; {{#if endDate}}<span itemprop="endDate">{{date endDate}}</span>{{/if}}
              </div>
            </div>
            <div class="description">
              <p>{{{summary}}}</p>
              <ul>
  {{#each highlights}}
                <li>{{.}}</li>
  {{/each}}
              </ul>
            </div>
          </section>
{{/each}}
          <hr>
{{#each resume.education}}
          <section itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
            <h3 class="position"><a itemprop="name" href="{{website}}" target="_blank">{{institution}}</a></h3>
            <div class="where-when text-muted">
  {{#if address}}
              <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                {{address}}
              </div>
  {{/if}}
              <div itemprop="event" itemscope itemtype="http://schema.org/Event">
                <span itemprop="startDate">{{date startDate}}</span> &ndash; {{#if endDate}}<span itemprop="endDate">{{date endDate}}</span>{{/if}}
              </div>
            </div>
            <div class="description">
              <p>{{{area}}}</p>
            </div>
          </section>
{{/each}}
        </article>
        <aside id="misc" class="col-md-4 clearfix">
          <hr class="visible-xs visible-sm">
{{#with resume.skills}}
          <h3>I'm good at</h3>
          <ul class="list-inline">
  {{#each .}}
    {{#each keywords}}
            <li><span class="label label-primary">{{.}}</span></li>
    {{/each}}
  {{/each}}
          </ul>
{{/with}}
{{#with resume.languages}}
          <p>Languages: {{#each .}}{{#if @index}}, {{/if}}{{language}}{{#if fluency}} ({{fluency}}){{/if}}{{/each}}</p>
{{/with}}
{{#with resume.references}}
  {{#each .}}
          <blockquote>
            <p>{{reference}}</p>
            <footer>{{name}}</footer>
          </blockquote>
  {{/each}}
{{/with}}
        </aside>
      </div>
    </div>
    <script>
{{{js}}}
    </script>
  </body>
</html>
